# SPDX-License-Identifier: MIT

# The following requires the Quartus jtagd server to be running.
adapter driver aji_client

# Altera Cyclone IV E FPGA
if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME cycloneive
}

# Subsidiary TAP: fpga (tap)
# EP4CE15F23C8 has id 0x020f20dd
jtag newtap $_CHIPNAME tap -irlen 10 -expected-id 0x020f20dd

# Virtual JTAG TAP via SLD.
# Quartus reports some information about the whole virtual JTAG and SLD chain
# after synthesis. It is reported in Analysis & Synthesis > Debug Setting
# Summary > Virtual JTAG Settings. Of importance is the node instance id
# reported as NODE_INST_ID.
# ID of SLD nodes is build with the following information:
# 0x00 - Node Version: Identifies the version of the SLD node
# 0x40 - NODE_ID: Identifies the type of NODE IP (0x40 for the vJTAG IP core)
# 0x6E - NODE_MFG_ID_SLD: Node Manufacturer ID (0x6E for vJTAG IP core)
# 0x?? - NODE_INST_ID: Used to distinguish multiple instances of the same IP and
#        corresponds to the instance index assigned in the editor. Quartus
#        reports this id in Analysis & Synthesis > Debug Setting Summary >
#        Virtual JTAG Settings. An may be set with the VHDL generic
#        "sld_instance_index" of the "sld_virtual_jtag" instance.
# Together this gives an id of 0x00406e00 for SLD node with instance id 0.
vjtag create $_CHIPNAME.tap.sld -chain-position $_CHIPNAME.tap -expected-id 0x00406e00

# NEORV32 target https://github.com/stnolting/neorv32
set _TARGETNAME $_CHIPNAME.neorv32_cpu
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.tap.sld

# Shutdown OpenOCD when GDB connection terminates
$_TARGETNAME configure -event gdb-detach {shutdown}

init
halt
